body {
    background-color: #1B4F72;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-left: 14%;}

.formulario {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 5%;
}
.bigger-textarea {
    height: 90px;
    resize: none; /* Impede o redimensionamento da caixa de texto */
}
.input-container {
    margin-left: 10%;
    margin-bottom: 30px;
    width: 70%;
}

.input-container:last-child {
    margin-left: 10%;
    margin-bottom: 30px;
    width: 70%;

}

.input-container:last-child input[type="submit"] {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.932);
    color: #000;
    cursor: pointer;
}

.contato-info {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 30;
    border: none;
    width: 90%;
    margin-left: 5%;

}

.rounded-input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
}

.contato-item {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.imagens{
    margin-left: 65%;
    max-width: 190px; /* Valor menor para diminuir a largura máxima */
    max-height: 190px; /* Valor menor para diminuir a altura máxima */
    margin-right: 10px
}

.ctt{
    color: #fff;
    text-align: center;

}