h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3%;
}

.contato{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.container{
    margin-top: 10px7;
}