
/* Exemplo de media query */
@media screen and (max-width: 768px) {
    /* Estilos para dispositivos com largura máxima de 768px (ex: tablets) */
  }
  
  @media screen and (max-width: 480px) {
    /* Estilos para dispositivos com largura máxima de 480px (ex: celulares) */
  }
  
  html{
    scroll-behavior: smooth;
}
.logo{
  width: 170px; 
  top:7px;
  position: absolute;
}

html{
scroll-behavior: smooth;
}

.home{
  font-size: 22px;
  text-decoration: none;
  color: black;
  margin-left: -34em;
  align-items: center;
  position: absolute;
  top: 5px;
 
}

.atracao{
  font-size: 22px;
  text-decoration: none;
  color: black;
  margin-left: -24em;
  align-items: center;
  position: absolute;
  top: 5px;
}

.contato{
  font-size: 22px;
  text-decoration: none;
  color: black;
  margin-left: -14em;
  align-items: center;
  position: absolute;
  top: 5px;
}

.container {
  position: relative;
}

#image {
  position: absolute;
  width: 1655.5px;
  height: 670px;
  margin-left: -9em;
  top: 80px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 9px;
  padding: 6px;
  position: absolute;
 margin-left: 70em;
 top: 10px;
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 
}

/* Estilos para o campo de texto */
.search-bar input[type="text"] {
  flex: 1;
  border: none;
  outline: none;

 
}

/* Estilos para o botão */
.search-bar button {
  background-color: #2b4561;
  color: #fff;
  border: none;
  border-radius: 9px;
  margin-left: 5px;
  padding: 9px 12px;
  cursor: pointer;
  
}

      
      .quadrado{
        width: 490px;
          height: 250px;
          background-color: rgba(198, 198, 198, 0.541); 
          margin: 30px;
          padding-top: 120px;
          border-radius: 15px;
          position: absolute;
          top: 18%;
          margin-left: 7em;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      #servicos{
        width: 1000px;
        margin-left: -17em;
        position: absolute;
        top: 12%;
        font-size: 136%;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;  
        font-weight: bold;
        font-family: 'Inter', sans-serif; 
    }

        #item1{
         width: 1000px;
        margin-left: -23.5em;
        position: absolute;
        top: 26%;
        font-size: 110%;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;   
        font-family: 'Inter', sans-serif; 
        }

        #item2{
          width: 1000px;
          margin-left: -21.2em;
          position: absolute;
          top: 36%;
          font-size: 110%;
          color: black;
          text-align: center;
          text-decoration: none;
          display: inline-block;   
          font-family: 'Inter', sans-serif;  }

        #item3{
          width: 1000px;
          margin-left: -23.8em;
          position: absolute;
          top: 46%;
          font-size: 110%;
          color: black;
          text-align: center;
          text-decoration: none;
          display: inline-block;   
          font-family: 'Inter', sans-serif; 
        }

        #item4{
          width: 1000px;
          margin-left: -22.4em;
          position: absolute;
          top: 56%;
          font-size: 110%;
          color: black;
          text-align: center;
          text-decoration: none;
          display: inline-block;   
          font-family: 'Inter', sans-serif; 
        }

        #item5{
          width: 1000px;
          margin-left: -20.6em;
          position: absolute;
          top: 66%;
          font-size: 110%;
          color: black;
          text-align: center;
          text-decoration: none;
          display: inline-block;   
          font-family: 'Inter', sans-serif; 
        }

        #item6{
          width: 1000px;
          margin-left: -18.3em;
          position: absolute;
          top: 76%;
          font-size: 110%;
          color: black;
          text-align: center;
          text-decoration: none;
          display: inline-block;   
          font-family: 'Inter', sans-serif; 
        }

        .quadrado2{
          width: 450px;
          height: 250px;
          background-color: rgba(198, 198, 198, 0.541); 
          margin: 30px;
          padding-top: 120px;
          border-radius: 15px;
          position: absolute;
          top: 18%;
          margin-left: 60em;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          }
          .quadrado3{
            width: 1655px;
            height: 160px;
            background-color: #5cb8f299;
            margin: 30px;
            padding-top: 120px;
            border-radius: 1px;
            position: absolute;
            top: 83%;
            margin-left: -9em;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }

            .redes{
              font-family: 'Istok Web', sans-serif;
               font-family: 16px;  
               position: absolute;
                                 
            }
        
    
     